TagCloud/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="IsSelected" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="3" name="Weighting" type="xs:double" />
  </xs:complexType>
</xs:schema>