Tests/Service References/NewService/SensorV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mquter.qut.edu.au/sensors/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mquter.qut.edu.au/sensors/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mquter.qut.edu.au/sensors/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ReportDeviceStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="statuses" type="tns:ArrayOfDeviceStatus" />
            <s:element minOccurs="0" maxOccurs="1" name="logs" type="tns:ArrayOfDeviceLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDeviceStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeviceStatus" nillable="true" type="tns:DeviceStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeviceStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PowerLevel" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="FreeMemory" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MemoryUsage" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDeviceLog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeviceLog" nillable="true" type="tns:DeviceLog" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeviceLog">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LogID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDetails" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReportDeviceStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReportDeviceStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskSchedule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskScheduleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskScheduleResult" type="tns:ArrayOfDeviceSchedule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDeviceSchedule">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeviceSchedule" nillable="true" type="tns:DeviceSchedule" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeviceSchedule">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TaskID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeOfDay" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Interval" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Priority" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MinPowerLevel" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAudioReadingWithType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="readingGuid" nillable="true" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="mimeType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAudioReadingWithTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAudioReadingWithTypeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhotoReading">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="mimeType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhotoReadingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPhotoReadingResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAudioReadingFirst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="mimeType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="more" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAudioReadingFirstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAudioReadingFirstResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAudioReadingNext">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="readingId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="more" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAudioReadingNextResponse">
        <s:complexType />
      </s:element>
      <s:element name="DownloadLatestUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadLatestUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTime">
        <s:complexType />
      </s:element>
      <s:element name="GetTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sleep">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ms" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SleepResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReportDeviceStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ReportDeviceStatus" />
  </wsdl:message>
  <wsdl:message name="ReportDeviceStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ReportDeviceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskScheduleSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskSchedule" />
  </wsdl:message>
  <wsdl:message name="GetTaskScheduleSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingWithTypeSoapIn">
    <wsdl:part name="parameters" element="tns:AddAudioReadingWithType" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingWithTypeSoapOut">
    <wsdl:part name="parameters" element="tns:AddAudioReadingWithTypeResponse" />
  </wsdl:message>
  <wsdl:message name="AddPhotoReadingSoapIn">
    <wsdl:part name="parameters" element="tns:AddPhotoReading" />
  </wsdl:message>
  <wsdl:message name="AddPhotoReadingSoapOut">
    <wsdl:part name="parameters" element="tns:AddPhotoReadingResponse" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingFirstSoapIn">
    <wsdl:part name="parameters" element="tns:AddAudioReadingFirst" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingFirstSoapOut">
    <wsdl:part name="parameters" element="tns:AddAudioReadingFirstResponse" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingNextSoapIn">
    <wsdl:part name="parameters" element="tns:AddAudioReadingNext" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingNextSoapOut">
    <wsdl:part name="parameters" element="tns:AddAudioReadingNextResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadLatestUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadLatestUpdate" />
  </wsdl:message>
  <wsdl:message name="DownloadLatestUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadLatestUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="GetTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="SleepSoapIn">
    <wsdl:part name="parameters" element="tns:Sleep" />
  </wsdl:message>
  <wsdl:message name="SleepSoapOut">
    <wsdl:part name="parameters" element="tns:SleepResponse" />
  </wsdl:message>
  <wsdl:portType name="SensorV2Soap">
    <wsdl:operation name="ReportDeviceStatus">
      <wsdl:input message="tns:ReportDeviceStatusSoapIn" />
      <wsdl:output message="tns:ReportDeviceStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskSchedule">
      <wsdl:input message="tns:GetTaskScheduleSoapIn" />
      <wsdl:output message="tns:GetTaskScheduleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAudioReadingWithType">
      <wsdl:input message="tns:AddAudioReadingWithTypeSoapIn" />
      <wsdl:output message="tns:AddAudioReadingWithTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPhotoReading">
      <wsdl:input message="tns:AddPhotoReadingSoapIn" />
      <wsdl:output message="tns:AddPhotoReadingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAudioReadingFirst">
      <wsdl:input message="tns:AddAudioReadingFirstSoapIn" />
      <wsdl:output message="tns:AddAudioReadingFirstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAudioReadingNext">
      <wsdl:input message="tns:AddAudioReadingNextSoapIn" />
      <wsdl:output message="tns:AddAudioReadingNextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadLatestUpdate">
      <wsdl:input message="tns:DownloadLatestUpdateSoapIn" />
      <wsdl:output message="tns:DownloadLatestUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <wsdl:input message="tns:GetTimeSoapIn" />
      <wsdl:output message="tns:GetTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sleep">
      <wsdl:input message="tns:SleepSoapIn" />
      <wsdl:output message="tns:SleepSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SensorV2Soap" type="tns:SensorV2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportDeviceStatus">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/ReportDeviceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskSchedule">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/GetTaskSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudioReadingWithType">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/AddAudioReadingWithType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhotoReading">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/AddPhotoReading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudioReadingFirst">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/AddAudioReadingFirst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudioReadingNext">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/AddAudioReadingNext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadLatestUpdate">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/DownloadLatestUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sleep">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/Sleep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SensorV2Soap12" type="tns:SensorV2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportDeviceStatus">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/ReportDeviceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskSchedule">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/GetTaskSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudioReadingWithType">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/AddAudioReadingWithType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhotoReading">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/AddPhotoReading" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudioReadingFirst">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/AddAudioReadingFirst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudioReadingNext">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/AddAudioReadingNext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadLatestUpdate">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/DownloadLatestUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/GetTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sleep">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/Sleep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SensorV2">
    <wsdl:port name="SensorV2Soap" binding="tns:SensorV2Soap">
      <soap:address location="http://localhost:4040/WebFrontend/SensorV2.asmx" />
    </wsdl:port>
    <wsdl:port name="SensorV2Soap12" binding="tns:SensorV2Soap12">
      <soap12:address location="http://localhost:4040/WebFrontend/SensorV2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>