DataUtilities/LocalDataStore/Service References/QutSensors/AudioReadingsSearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mquter.qut.edu.au/sensors/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mquter.qut.edu.au/sensors/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mquter.qut.edu.au/sensors/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="FindDeployments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:DeploymentSearchParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DeploymentSearchParameters">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IncludeTests" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindDeploymentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindDeploymentsResult" type="tns:ArrayOfDeploymentSearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDeploymentSearchResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DeploymentSearchResult" nillable="true" type="tns:DeploymentSearchResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DeploymentSearchResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateStarted" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateEnded" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDeploymentReadings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deploymentID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeploymentReadingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeploymentReadingsResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TotalReadings" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Readings" type="tns:ArrayOfAudioReadingResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAudioReadingResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AudioReadingResult" nillable="true" type="tns:AudioReadingResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AudioReadingResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AudioUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HasBeenRead" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetReadings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:SearchParameters" />
            <s:element minOccurs="1" maxOccurs="1" name="startRowIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AudioTags" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SensorTags" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReadStatus" type="tns:ReadStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="FromDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ToDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IncludeTestDeployments" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ReadStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Both" />
          <s:enumeration value="Read" />
          <s:enumeration value="Unread" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetReadingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReadingsResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarkAsRead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="audioReadingID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarkAsReadResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddTag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="audioReadingID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="duration" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTagResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindDeploymentsSoapIn">
    <wsdl:part name="parameters" element="tns:FindDeployments" />
  </wsdl:message>
  <wsdl:message name="FindDeploymentsSoapOut">
    <wsdl:part name="parameters" element="tns:FindDeploymentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeploymentReadingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeploymentReadings" />
  </wsdl:message>
  <wsdl:message name="GetDeploymentReadingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeploymentReadingsResponse" />
  </wsdl:message>
  <wsdl:message name="GetReadingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetReadings" />
  </wsdl:message>
  <wsdl:message name="GetReadingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetReadingsResponse" />
  </wsdl:message>
  <wsdl:message name="MarkAsReadSoapIn">
    <wsdl:part name="parameters" element="tns:MarkAsRead" />
  </wsdl:message>
  <wsdl:message name="MarkAsReadSoapOut">
    <wsdl:part name="parameters" element="tns:MarkAsReadResponse" />
  </wsdl:message>
  <wsdl:message name="AddTagSoapIn">
    <wsdl:part name="parameters" element="tns:AddTag" />
  </wsdl:message>
  <wsdl:message name="AddTagSoapOut">
    <wsdl:part name="parameters" element="tns:AddTagResponse" />
  </wsdl:message>
  <wsdl:portType name="AudioReadingsSearchSoap">
    <wsdl:operation name="FindDeployments">
      <wsdl:input message="tns:FindDeploymentsSoapIn" />
      <wsdl:output message="tns:FindDeploymentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeploymentReadings">
      <wsdl:input message="tns:GetDeploymentReadingsSoapIn" />
      <wsdl:output message="tns:GetDeploymentReadingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReadings">
      <wsdl:input message="tns:GetReadingsSoapIn" />
      <wsdl:output message="tns:GetReadingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarkAsRead">
      <wsdl:input message="tns:MarkAsReadSoapIn" />
      <wsdl:output message="tns:MarkAsReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <wsdl:input message="tns:AddTagSoapIn" />
      <wsdl:output message="tns:AddTagSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AudioReadingsSearchSoap" type="tns:AudioReadingsSearchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindDeployments">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/FindDeployments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeploymentReadings">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/GetDeploymentReadings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReadings">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/GetReadings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkAsRead">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/MarkAsRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/AddTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AudioReadingsSearchSoap12" type="tns:AudioReadingsSearchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindDeployments">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/FindDeployments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeploymentReadings">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/GetDeploymentReadings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReadings">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/GetReadings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkAsRead">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/MarkAsRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/AddTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AudioReadingsSearch">
    <wsdl:port name="AudioReadingsSearchSoap" binding="tns:AudioReadingsSearchSoap">
      <soap:address location="http://www.mquter.qut.edu.au/sensor/demo/AudioReadingsSearch.asmx" />
    </wsdl:port>
    <wsdl:port name="AudioReadingsSearchSoap12" binding="tns:AudioReadingsSearchSoap12">
      <soap12:address location="http://www.mquter.qut.edu.au/sensor/demo/AudioReadingsSearch.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>