ProcessorUI/ProcessorUI/Service References/WebServices/Processor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="sensor.mquter.qut.edu.au" elementFormDefault="qualified" targetNamespace="sensor.mquter.qut.edu.au" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45610/WebFrontend/Processor/Processor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetJobItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="worker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="preferredJobID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetJobItemResult" nillable="true" type="q1:Processor.JobItemDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="worker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobItemID" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="results" nillable="true" type="q2:ArrayOfProcessor.JobItemResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitResultsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="worker" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobItemID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>