ProcessorUI/Processor/Service References/ProcessorService/ProcessorService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="sensor.mquter.qut.edu.au" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="sensor.mquter.qut.edu.au" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="sensor.mquter.qut.edu.au/Imports">
      <xsd:import schemaLocation="http://localhost:2669/Services/ProcessorService.svc?xsd=xsd2" namespace="sensor.mquter.qut.edu.au" />
      <xsd:import schemaLocation="http://localhost:2669/Services/ProcessorService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2669/Services/ProcessorService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/QutSensors.Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProcessorService_GetWorkItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkItem" />
  </wsdl:message>
  <wsdl:message name="ProcessorService_GetWorkItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkItemResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessorService_GetWorkItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkItems" />
  </wsdl:message>
  <wsdl:message name="ProcessorService_GetWorkItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessorService_ReturnWorkItemIncomplete_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnWorkItemIncomplete" />
  </wsdl:message>
  <wsdl:message name="ProcessorService_ReturnWorkItemIncomplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnWorkItemIncompleteResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessorService_ReturnWorkItemComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnWorkItemComplete" />
  </wsdl:message>
  <wsdl:message name="ProcessorService_ReturnWorkItemComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnWorkItemCompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ProcessorService">
    <wsdl:operation name="GetWorkItem">
      <wsdl:input wsaw:Action="sensor.mquter.qut.edu.au/ProcessorService/GetWorkItem" message="tns:ProcessorService_GetWorkItem_InputMessage" />
      <wsdl:output wsaw:Action="sensor.mquter.qut.edu.au/ProcessorService/GetWorkItemResponse" message="tns:ProcessorService_GetWorkItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkItems">
      <wsdl:input wsaw:Action="sensor.mquter.qut.edu.au/ProcessorService/GetWorkItems" message="tns:ProcessorService_GetWorkItems_InputMessage" />
      <wsdl:output wsaw:Action="sensor.mquter.qut.edu.au/ProcessorService/GetWorkItemsResponse" message="tns:ProcessorService_GetWorkItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnWorkItemIncomplete">
      <wsdl:input wsaw:Action="sensor.mquter.qut.edu.au/ProcessorService/ReturnWorkItemIncomplete" message="tns:ProcessorService_ReturnWorkItemIncomplete_InputMessage" />
      <wsdl:output wsaw:Action="sensor.mquter.qut.edu.au/ProcessorService/ReturnWorkItemIncompleteResponse" message="tns:ProcessorService_ReturnWorkItemIncomplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnWorkItemComplete">
      <wsdl:input wsaw:Action="sensor.mquter.qut.edu.au/ProcessorService/ReturnWorkItemComplete" message="tns:ProcessorService_ReturnWorkItemComplete_InputMessage" />
      <wsdl:output wsaw:Action="sensor.mquter.qut.edu.au/ProcessorService/ReturnWorkItemCompleteResponse" message="tns:ProcessorService_ReturnWorkItemComplete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>