ProcessorUI/Processor/Service References/WebServices/Processor21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="sensor.mquter.qut.edu.au" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="sensor.mquter.qut.edu.au" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="sensor.mquter.qut.edu.au/Imports">
      <xsd:import schemaLocation="http://localhost:2669/Processor/Processor.svc?xsd=xsd0" namespace="sensor.mquter.qut.edu.au" />
      <xsd:import schemaLocation="http://localhost:2669/Processor/Processor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2669/Processor/Processor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:2669/Processor/Processor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QutSensors.Data.Logic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Processor_GetJobItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobItem" />
  </wsdl:message>
  <wsdl:message name="Processor_GetJobItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobItemResponse" />
  </wsdl:message>
  <wsdl:message name="Processor_SubmitResults_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitResults" />
  </wsdl:message>
  <wsdl:message name="Processor_SubmitResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitResultsResponse" />
  </wsdl:message>
  <wsdl:message name="Processor_SubmitJobItemResults_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitJobItemResults" />
  </wsdl:message>
  <wsdl:message name="Processor_SubmitJobItemResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitJobItemResultsResponse" />
  </wsdl:message>
  <wsdl:message name="Processor_ReturnJob_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnJob" />
  </wsdl:message>
  <wsdl:message name="Processor_ReturnJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnJobResponse" />
  </wsdl:message>
  <wsdl:message name="Processor_ReturnJobWithError_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnJobWithError" />
  </wsdl:message>
  <wsdl:message name="Processor_ReturnJobWithError_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnJobWithErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="Processor">
    <wsdl:operation name="GetJobItem">
      <wsdl:input wsaw:Action="sensor.mquter.qut.edu.au/Processor/GetJobItem" message="tns:Processor_GetJobItem_InputMessage" />
      <wsdl:output wsaw:Action="sensor.mquter.qut.edu.au/Processor/GetJobItemResponse" message="tns:Processor_GetJobItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitResults">
      <wsdl:input wsaw:Action="sensor.mquter.qut.edu.au/Processor/SubmitResults" message="tns:Processor_SubmitResults_InputMessage" />
      <wsdl:output wsaw:Action="sensor.mquter.qut.edu.au/Processor/SubmitResultsResponse" message="tns:Processor_SubmitResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitJobItemResults">
      <wsdl:input wsaw:Action="sensor.mquter.qut.edu.au/Processor/SubmitJobItemResults" message="tns:Processor_SubmitJobItemResults_InputMessage" />
      <wsdl:output wsaw:Action="sensor.mquter.qut.edu.au/Processor/SubmitJobItemResultsResponse" message="tns:Processor_SubmitJobItemResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnJob">
      <wsdl:input wsaw:Action="sensor.mquter.qut.edu.au/Processor/ReturnJob" message="tns:Processor_ReturnJob_InputMessage" />
      <wsdl:output wsaw:Action="sensor.mquter.qut.edu.au/Processor/ReturnJobResponse" message="tns:Processor_ReturnJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnJobWithError">
      <wsdl:input wsaw:Action="sensor.mquter.qut.edu.au/Processor/ReturnJobWithError" message="tns:Processor_ReturnJobWithError_InputMessage" />
      <wsdl:output wsaw:Action="sensor.mquter.qut.edu.au/Processor/ReturnJobWithErrorResponse" message="tns:Processor_ReturnJobWithError_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>