ProcessorUI/Processor/Service References/WebServices/Processor31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QutSensors.Data.Logic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QutSensors.Data.Logic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProcessorResultTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessorResultTag" nillable="true" type="tns:ProcessorResultTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessorResultTag" nillable="true" type="tns:ArrayOfProcessorResultTag" />
  <xs:complexType name="ProcessorResultTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndFrequency" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ExtraDetail" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Score" type="xs:double" />
      <xs:element minOccurs="0" name="ScoreDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartFrequency" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="StartTime" type="xs:long" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessorResultTag" nillable="true" type="tns:ProcessorResultTag" />
</xs:schema>