ProcessorUI/Processor/Service References/WebServices/Processor31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QutSensors.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QutSensors.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2669/Processor/Processor.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:2669/Processor/Processor.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfProcessorResultTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessorResultTag" nillable="true" type="tns:ProcessorResultTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessorResultTag" nillable="true" type="tns:ArrayOfProcessorResultTag" />
  <xs:complexType name="ProcessorResultTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ExtraDetail" nillable="true" type="tns:ArrayOfResultProperty" />
      <xs:element minOccurs="0" name="MaxFrequency" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinFrequency" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:double" />
      <xs:element minOccurs="0" name="ScoreDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessorResultTag" nillable="true" type="tns:ProcessorResultTag" />
  <xs:complexType name="ArrayOfResultProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultProperty" nillable="true" type="tns:ResultProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultProperty" nillable="true" type="tns:ArrayOfResultProperty" />
  <xs:complexType name="ResultProperty">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Info" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ValueType" nillable="true" type="q2:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultProperty" nillable="true" type="tns:ResultProperty" />
</xs:schema>