QutSensors.AnalysisProcessor/Service References/ProcessorService/ProcessorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QutSensors.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QutSensors.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProcessorResultTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExtraDetail" nillable="true" type="tns:ArrayOfResultProperty" />
      <xs:element minOccurs="0" name="MaxFrequency" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinFrequency" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NormalisedScore" nillable="true" type="tns:ResultProperty" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessorResultTag" nillable="true" type="tns:ProcessorResultTag" />
  <xs:complexType name="ArrayOfResultProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultProperty" nillable="true" type="tns:ResultProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultProperty" nillable="true" type="tns:ArrayOfResultProperty" />
  <xs:complexType name="ResultProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="InfoString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultProperty" nillable="true" type="tns:ResultProperty" />
  <xs:complexType name="AnalysisWorkItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalysisAdditionalData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnalysisGenericType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnalysisGenericVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnalysisRunSettings" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AudioFileUri" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="JobItemId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnalysisWorkItem" nillable="true" type="tns:AnalysisWorkItem" />
  <xs:complexType name="ArrayOfAnalysisWorkItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalysisWorkItem" nillable="true" type="tns:AnalysisWorkItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalysisWorkItem" nillable="true" type="tns:ArrayOfAnalysisWorkItem" />
  <xs:complexType name="ArrayOfProcessorResultTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessorResultTag" nillable="true" type="tns:ProcessorResultTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessorResultTag" nillable="true" type="tns:ArrayOfProcessorResultTag" />
</xs:schema>