CFRecorder/Web References/QutSensors.Services/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mquter.qut.edu.au/sensors/" xmlns:s1="http://mquter.qut.edu.au/sensors/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mquter.qut.edu.au/sensors/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mquter.qut.edu.au/sensors/">
      <s:element name="AddPhotoReading">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sensorGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="readingGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhotoReadingResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddAudioReading">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sensorGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="readingGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAudioReadingResponse">
        <s:complexType />
      </s:element>
      <s:element name="FindSensor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sensorGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindSensorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindSensorResult" type="tns:Sensor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sensor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FriendlyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateSensor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sensorGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="friendlyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSensorResponse">
        <s:complexType />
      </s:element>
      <s:element name="Sensor" nillable="true" type="tns:Sensor" />
    </s:schema>
    <s:schema targetNamespace="http://mquter.qut.edu.au/sensors/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddPhotoReadingSoapIn">
    <wsdl:part name="parameters" element="tns:AddPhotoReading" />
  </wsdl:message>
  <wsdl:message name="AddPhotoReadingSoapOut">
    <wsdl:part name="parameters" element="tns:AddPhotoReadingResponse" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingSoapIn">
    <wsdl:part name="parameters" element="tns:AddAudioReading" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingSoapOut">
    <wsdl:part name="parameters" element="tns:AddAudioReadingResponse" />
  </wsdl:message>
  <wsdl:message name="FindSensorSoapIn">
    <wsdl:part name="parameters" element="tns:FindSensor" />
  </wsdl:message>
  <wsdl:message name="FindSensorSoapOut">
    <wsdl:part name="parameters" element="tns:FindSensorResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSensorSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSensor" />
  </wsdl:message>
  <wsdl:message name="UpdateSensorSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSensorResponse" />
  </wsdl:message>
  <wsdl:message name="AddPhotoReadingHttpGetIn">
    <wsdl:part name="sensorGuid" type="s:string" />
    <wsdl:part name="readingGuid" type="s:string" />
    <wsdl:part name="time" type="s:string" />
    <wsdl:part name="buffer" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddPhotoReadingHttpGetOut" />
  <wsdl:message name="AddAudioReadingHttpGetIn">
    <wsdl:part name="sensorGuid" type="s:string" />
    <wsdl:part name="readingGuid" type="s:string" />
    <wsdl:part name="time" type="s:string" />
    <wsdl:part name="buffer" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingHttpGetOut" />
  <wsdl:message name="FindSensorHttpGetIn">
    <wsdl:part name="sensorGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindSensorHttpGetOut">
    <wsdl:part name="Body" element="tns:Sensor" />
  </wsdl:message>
  <wsdl:message name="UpdateSensorHttpGetIn">
    <wsdl:part name="sensorGUID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="friendlyName" type="s:string" />
    <wsdl:part name="description" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateSensorHttpGetOut" />
  <wsdl:message name="AddPhotoReadingHttpPostIn">
    <wsdl:part name="sensorGuid" type="s:string" />
    <wsdl:part name="readingGuid" type="s:string" />
    <wsdl:part name="time" type="s:string" />
    <wsdl:part name="buffer" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddPhotoReadingHttpPostOut" />
  <wsdl:message name="AddAudioReadingHttpPostIn">
    <wsdl:part name="sensorGuid" type="s:string" />
    <wsdl:part name="readingGuid" type="s:string" />
    <wsdl:part name="time" type="s:string" />
    <wsdl:part name="buffer" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingHttpPostOut" />
  <wsdl:message name="FindSensorHttpPostIn">
    <wsdl:part name="sensorGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FindSensorHttpPostOut">
    <wsdl:part name="Body" element="tns:Sensor" />
  </wsdl:message>
  <wsdl:message name="UpdateSensorHttpPostIn">
    <wsdl:part name="sensorGUID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="friendlyName" type="s:string" />
    <wsdl:part name="description" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateSensorHttpPostOut" />
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="AddPhotoReading">
      <wsdl:input message="tns:AddPhotoReadingSoapIn" />
      <wsdl:output message="tns:AddPhotoReadingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAudioReading">
      <wsdl:input message="tns:AddAudioReadingSoapIn" />
      <wsdl:output message="tns:AddAudioReadingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindSensor">
      <wsdl:input message="tns:FindSensorSoapIn" />
      <wsdl:output message="tns:FindSensorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSensor">
      <wsdl:input message="tns:UpdateSensorSoapIn" />
      <wsdl:output message="tns:UpdateSensorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="AddPhotoReading">
      <wsdl:input message="tns:AddPhotoReadingHttpGetIn" />
      <wsdl:output message="tns:AddPhotoReadingHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAudioReading">
      <wsdl:input message="tns:AddAudioReadingHttpGetIn" />
      <wsdl:output message="tns:AddAudioReadingHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FindSensor">
      <wsdl:input message="tns:FindSensorHttpGetIn" />
      <wsdl:output message="tns:FindSensorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSensor">
      <wsdl:input message="tns:UpdateSensorHttpGetIn" />
      <wsdl:output message="tns:UpdateSensorHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="AddPhotoReading">
      <wsdl:input message="tns:AddPhotoReadingHttpPostIn" />
      <wsdl:output message="tns:AddPhotoReadingHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAudioReading">
      <wsdl:input message="tns:AddAudioReadingHttpPostIn" />
      <wsdl:output message="tns:AddAudioReadingHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FindSensor">
      <wsdl:input message="tns:FindSensorHttpPostIn" />
      <wsdl:output message="tns:FindSensorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSensor">
      <wsdl:input message="tns:UpdateSensorHttpPostIn" />
      <wsdl:output message="tns:UpdateSensorHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPhotoReading">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/AddPhotoReading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudioReading">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/AddAudioReading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSensor">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/FindSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSensor">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/UpdateSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPhotoReading">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/AddPhotoReading" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudioReading">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/AddAudioReading" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSensor">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/FindSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSensor">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/UpdateSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AddPhotoReading">
      <http:operation location="/AddPhotoReading" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AddAudioReading">
      <http:operation location="/AddAudioReading" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindSensor">
      <http:operation location="/FindSensor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSensor">
      <http:operation location="/UpdateSensor" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="AddPhotoReading">
      <http:operation location="/AddPhotoReading" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="AddAudioReading">
      <http:operation location="/AddAudioReading" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FindSensor">
      <http:operation location="/FindSensor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSensor">
      <http:operation location="/UpdateSensor" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:4761/QutSensors.WebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:4761/QutSensors.WebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://localhost:4761/QutSensors.WebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://localhost:4761/QutSensors.WebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>