CFRecorder/Web References/QutSensors.Services/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mquter.qut.edu.au/sensors/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mquter.qut.edu.au/sensors/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mquter.qut.edu.au/sensors/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="AddPhotoReading">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sensorGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="readingGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhotoReadingResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddAudioReading">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sensorGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="readingGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAudioReadingResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddSensor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sensorID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSensorResponse">
        <s:complexType />
      </s:element>
      <s:element name="FindSensor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindSensorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindSensorResult" type="tns:Sensor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sensor" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddPhotoReadingSoapIn">
    <wsdl:part name="parameters" element="tns:AddPhotoReading" />
  </wsdl:message>
  <wsdl:message name="AddPhotoReadingSoapOut">
    <wsdl:part name="parameters" element="tns:AddPhotoReadingResponse" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingSoapIn">
    <wsdl:part name="parameters" element="tns:AddAudioReading" />
  </wsdl:message>
  <wsdl:message name="AddAudioReadingSoapOut">
    <wsdl:part name="parameters" element="tns:AddAudioReadingResponse" />
  </wsdl:message>
  <wsdl:message name="AddSensorSoapIn">
    <wsdl:part name="parameters" element="tns:AddSensor" />
  </wsdl:message>
  <wsdl:message name="AddSensorSoapOut">
    <wsdl:part name="parameters" element="tns:AddSensorResponse" />
  </wsdl:message>
  <wsdl:message name="FindSensorSoapIn">
    <wsdl:part name="parameters" element="tns:FindSensor" />
  </wsdl:message>
  <wsdl:message name="FindSensorSoapOut">
    <wsdl:part name="parameters" element="tns:FindSensorResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="AddPhotoReading">
      <wsdl:input message="tns:AddPhotoReadingSoapIn" />
      <wsdl:output message="tns:AddPhotoReadingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAudioReading">
      <wsdl:input message="tns:AddAudioReadingSoapIn" />
      <wsdl:output message="tns:AddAudioReadingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSensor">
      <wsdl:input message="tns:AddSensorSoapIn" />
      <wsdl:output message="tns:AddSensorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindSensor">
      <wsdl:input message="tns:FindSensorSoapIn" />
      <wsdl:output message="tns:FindSensorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPhotoReading">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/AddPhotoReading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudioReading">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/AddAudioReading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSensor">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/AddSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSensor">
      <soap:operation soapAction="http://mquter.qut.edu.au/sensors/FindSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPhotoReading">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/AddPhotoReading" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAudioReading">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/AddAudioReading" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSensor">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/AddSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSensor">
      <soap12:operation soapAction="http://mquter.qut.edu.au/sensors/FindSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://www.mquter.qut.edu.au/Sensor/SensorInterface/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://www.mquter.qut.edu.au/Sensor/SensorInterface/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>