TagCloud/Service References/TagService/TagCloudServicesvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="TagCloudServicesvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ITagCloudServicesvc_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2669/WebFrontend/TagCloudService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2669/WebFrontend/TagCloudService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2669/WebFrontend/TagCloudService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITagCloudServicesvc_GetTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTags" />
  </wsdl:message>
  <wsdl:message name="ITagCloudServicesvc_GetTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsResponse" />
  </wsdl:message>
  <wsdl:message name="ITagCloudServicesvc_GetTagsFiltered_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsFiltered" />
  </wsdl:message>
  <wsdl:message name="ITagCloudServicesvc_GetTagsFiltered_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsFilteredResponse" />
  </wsdl:message>
  <wsdl:portType name="ITagCloudServicesvc">
    <wsdl:operation name="GetTags">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagCloudServicesvc/GetTags" message="tns:ITagCloudServicesvc_GetTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagCloudServicesvc/GetTagsResponse" message="tns:ITagCloudServicesvc_GetTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagsFiltered">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagCloudServicesvc/GetTagsFiltered" message="tns:ITagCloudServicesvc_GetTagsFiltered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagCloudServicesvc/GetTagsFilteredResponse" message="tns:ITagCloudServicesvc_GetTagsFiltered_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ITagCloudServicesvc" type="tns:ITagCloudServicesvc">
    <wsp:PolicyReference URI="#CustomBinding_ITagCloudServicesvc_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTags">
      <soap12:operation soapAction="http://tempuri.org/ITagCloudServicesvc/GetTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagsFiltered">
      <soap12:operation soapAction="http://tempuri.org/ITagCloudServicesvc/GetTagsFiltered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TagCloudServicesvc">
    <wsdl:port name="CustomBinding_ITagCloudServicesvc" binding="tns:CustomBinding_ITagCloudServicesvc">
      <soap12:address location="http://localhost:2669/WebFrontend/TagCloudService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:2669/WebFrontend/TagCloudService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>