TagCloud/Service References/TagService/TagCloudService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTagItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagItem" nillable="true" type="tns:TagItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagItem" nillable="true" type="tns:ArrayOfTagItem" />
  <xs:complexType name="TagItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagItem" nillable="true" type="tns:TagItem" />
</xs:schema>